<!DOCTYPE html>
<html>

<head>
    <title>angular test</title>
    <link href="./css/bootstrap.min.css" rel="stylesheet" />
    <link href="./css/w3.css" rel="stylesheet" />
    <link href="./css/style.css" rel="stylesheet" />
</head>

<body ng-app="tableApp" ng-controller="TableController">
    <nav class="w3-sidenav w3-collapse w3-blue w3-animate-left" id="navbar-App" style="width:200px;">
        <a href="#" onclick="w3_close()" class="w3-closenav w3-hide-large">
            <h4>Close
                <div style="float:right;">x</div>
            </h4>
        </a>
        <a>
            <h3><span class="glyphicon glyphicon-calendar"></span>tables <span class="w3-tag w3-red w3-round w3-right">{{numTables}}</span></h3>
        </a>
        <a ng-repeat="i in tables" ng-click="loadTable(i.Name)">{{i.Name}}<span class="w3-tag w3-red w3-round w3-right">{{i.Nums}}</span></a>
    </nav>
    <div class="w3-main w3-animate-right" style="margin-left:200px">
        <nav class="navbar w3-blue">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" onclick="w3_open()"><span class="w3-opennav w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</span>{{choseTable}}</a>

                </div>
                <ul class="nav navbar-nav">
                    <li><a href="#" onclick="openPage('main-table')" ng-click="loadTable(choseTable);">table</a></li>
                    <li><a href="#" onclick="openPage('objectEdit')">object</a></li>
                </ul>
            </div>
        </nav>
        <div class="w3-responsive page" id="main-table" onkeyup="filterValues()">
            <table class="w3-table w3-bordered w3-striped w3-hoverable">
                <tr class="w3-blue">
                    <th>Columns</th>
                    <th ng-repeat="x in columns">
                        {{x}}
                    </th>

                </tr>
                <tr>
                    <td>Filters</td>
                    <td ng-repeat="x in columns" style="min-width:70px"><input id='{{x + "input"}}' type="text" class="form-control"></td>
                </tr>
                <tr ng-if="choseTable == '' " class="text-center">
                    <td>please chose table from side bar</td>
                </tr>
                <tr ng-repeat="i in table">
                    <td ng-if="$index < colSize"><button type="button" class="btn btn-success btn-block" ng-click="setObject($index)"><span class="glyphicon glyphicon-pencil"></span>Edit</button></td>
                    <td ng-repeat="x in i">{{x}}</td>
                </tr>
            </table>
        </div>
        <div class="page" id="objectEdit" style="display:none;">
            <table class="w3-table w3-bordered w3-striped w3-hoverable">
                <tr class="w3-blue">
                    <th>propety</th>
                    <th>value</th>
                </tr>
                <form id="updateObj">
                    <tr ng-repeat="i in choseObject">
                        <td>{{columns[$index]}}</td>
                        <td><input id="{{columns[$index]+'update'}}" type="text" class="form-control" value="{{i}}"></td>
                    </tr>
                </form>
            </table>
            </br>
            </br>
            </br>
            <div class="fixedPos down">
                <button type="button" class="btn btn-success btn-block" ng-click="updateObject()">Update</button>
                <button type="button" class="btn btn-danger btn-block" ng-click="deleteRow(choseObjectID)"><span class="glyphicon glyphicon-trash"></span>Delete</button>
            </div>
        </div>
</body>
<script src="./js/jquery-3.2.1.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/angular.min.js"></script>
<script src="./js/script.js"></script>
<script>
    var app = angular.module("tableApp", []);
    app.config(['$qProvider', function ($qProvider) {
        $qProvider.errorOnUnhandledRejections(false);
    }]);

    var Objects = {};
    var choseTable = ""
    var ChoseObject = {}
    app.controller("TableController", function ($scope, $http) {
        $scope.loadTable = function (name) {
            console.log("tesfunc", name)
            $http.get("http://localhost:8080/tables/" + name).then(function successCallback(response) {
                var table = {}
                console.log(response.data)
                var res = response.data
                for (var i = 0; i < res.length; i++) {
                    var arr = $.map(res[i], function (value, index) {
                        return [value];
                    })
                    table[i] = arr
                }
                console.log(table, "table")
                Objects = Object.keys(res[0])
                $scope.columns = Object.keys(res[0])
                $scope.colSize = Object.keys(res).length
                console.log(Object.keys(res).length)
                $scope.table = table
                choseTable = name
                $scope.choseTable = choseTable
                ChoseObject = {}
                $scope.choseObject = ChoseObject
                $scope.choseObjectID = undefined;
                openPage("main-table")

            })
        }
        $scope.setObject = function (index) {
            if (choseTable != "") {
                var obj = $scope.table[index]
                console.log(obj)
                ChoseObject = obj
                var choseID;
                $scope.choseObject = ChoseObject
                for (var i = 0; i < $scope.columns.length; i++) {
                    if ($scope.columns[i] == "ID") {
                        choseID = obj[i]
                    }
                }
                $scope.choseObjectID = choseID;
                openPage('objectEdit')
            }
        }
        $scope.updateObject = function () {
            if (choseTable != "") {
                if ($scope.choseObject != {}) {
                    d = {};
                    var formsval = {};
                    for (var i = 0; i < $scope.columns.length; i++) {
                        formsval[$scope.columns[i]] = document.getElementById($scope.columns[i] + 'update').value
                    }
                    if (formsval["ID"] != $scope.choseObjectID) {
                        alert("you cant change id")
                        document.getElementById("IDupdate").value = $scope.choseObjectID
                    } else {
                        $.ajax({
                            url: "http://localhost:8080/tables/" + choseTable,
                            type: "POST",
                            data: formsval,
                            success: function (data) {
                                alert(data)
                            }
                        })

                        console.log("make update", formsval)
                    }
                } else {
                    alert("select object first")
                }
            }
        }
        $scope.deleteRow = function (id) {
            if (choseTable != "" && id != undefined || id != null) {
                $.ajax({
                    type: "POST",
                    url: "http://localhost:8080/delete/" + choseTable,
                    data: { 'ID': id },
                    success: function (data) {
                        $scope.loadTable(choseTable)
                        $http.get("http://localhost:8080/tables").then(function successCallback(response) {
                            //console.log(response.data)
                            var tables = response.data
                            $scope.tables = tables
                            $scope.numTables = tables.length
                            $scope.choseTable = choseTable
                            $scope.choseObject = {}
                            $scope.choseObjectID = undefined
                        });
                        openPage("main-table")
                    }
                })
            } else {
                alert("select table and object first")
            }
        }

        $http.get("http://localhost:8080/tables").then(function successCallback(response) {
            console.log(response.data)
            if (response.data != null) {
                var tables = response.data
                $scope.tables = tables
                $scope.numTables = tables.length
                $scope.choseTable = choseTable
            } else {
                var tables = null
                $scope.tables = null
                $scope.numTables = 0
                $scope.choseTable = null
            }
        });

    });

    function filterValues() {
        var input, table, tr, td, i;
        var filter = {};
        console.log(Objects)
        for (i = 0; i < Objects.length; i++) {
            input = document.getElementById(Objects[i] + "input");
            filter[i] = input.value.toUpperCase();
            filter[i] = filter[i].toString()
        }
        table = document.getElementById("main-table");
        tr = table.getElementsByTagName("tr");
        console.log(tr.length, "trs")
        for (i = 2; i < tr.length; i++) {
            for (var j = 0; j < Objects.length + 1; j++) {
                td = tr[i].getElementsByTagName("td")[j];
                if (td) {
                    tr[i].style.display = ""
                }
            }
        }
        for (i = 2; i < tr.length; i++) {
            for (var j = 0; j < Objects.length; j++) {
                td = tr[i].getElementsByTagName("td")[j + 1];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter[j]) > -1) {
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    }

</script>

</html>