<!DOCTYPE html>
<html>

<head>
    <title>angular test</title>
    <link href="./css/bootstrap.min.css" rel="stylesheet" />
    <link href="./css/w3.css" rel="stylesheet" />
</head>

<body ng-app="tableApp" ng-controller="TableController">
    <nav class="w3-sidenav w3-collapse w3-blue w3-animate-left" id="navbar-App" style="width:200px;">
        <a href="#" onclick="w3_close()" class="w3-closenav w3-hide-large">
            <h4>Close
                <div style="float:right;">x</div>
            </h4>
        </a>
        <a>
            <h3><span class="glyphicon glyphicon-calendar"></span>tables <span class="w3-tag w3-red w3-round w3-right">{{numTables}}</span></h3>
        </a>
        <a ng-repeat="i in tables" ng-click="loadTable(i.Name)">{{i.Name}}<span class="w3-tag w3-red w3-round w3-right">{{i.Nums}}</span></a>
    </nav>
    <div class="w3-main w3-animate-right" style="margin-left:200px">
        <nav class="navbar w3-blue">
            <div class="container-fluid">
                <h1>{{choseTable}}</h1>
            </div>
        </nav>
        <div class="w3-responsive" id="main-table" onkeyup="filterValues()">
            <table class="w3-table w3-bordered w3-striped w3-hoverable">
                <tr class="w3-blue">
                    <th>Columns</th>
                    <th ng-repeat="x in columns">
                        {{x}}
                    </th>

                </tr>
                <tr>
                    <td>Filters</td>
                    <td ng-repeat="x in columns" style="min-width:70px"><input id='{{x + "input"}}' type="text" class="form-control"></td>
                </tr>
                <tr ng-if="choseTable == '' " class="text-center">
                    <td>please chose table from side bar</td>
                </tr>
                <tr ng-repeat="i in table">
                    <td ng-if="$index < colSize"><button type="button" class="btn btn-danger btn-block"><span class="glyphicon glyphicon-trash"></span>Delete</button></td>
                    <td ng-repeat="x in i">{{x}}</td>
                </tr>
            </table>
        </div>
    </div>
</body>
<script src="./js/script.js"></script>
<script src="./js/jquery-3.2.1.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/angular.min.js"></script>
<script>
    var app = angular.module("tableApp", []);
    app.config(['$qProvider', function ($qProvider) {
        $qProvider.errorOnUnhandledRejections(false);
    }]);

    var Objects = {};
    var choseTable = ""
    var ChoseObject = {}
    app.controller("TableController", function ($scope, $http) {
        $scope.loadTable = function (name) {
            console.log("tesfunc", name)
            $http.get("http://localhost:8080/tables/" + name).then(function successCallback(response) {
                var table = {}
                console.log(response.data)
                var res = response.data
                for (var i = 0; i < res.length; i++) {
                    var arr = $.map(res[i], function (value, index) {
                        return [value];
                    })
                    table[i] = arr
                }
                console.log(table, "table")
                Objects = Object.keys(res[0])
                $scope.columns = Object.keys(res[0])
                $scope.colSize = Object.keys(res).length
                console.log(Object.keys(res).length)
                $scope.table = table
                choseTable = name
                $scope.choseTable = choseTable

            })
        }
        $scope.DeleteRow = function (index) {
            if (choseTable != "") {
                var obj=$scope.table[index]
                var id;
                for(var i=0;i<Objects.length;i++){
                    if(Objects[i] == "id"){
                        id=obj[i]
                        break;
                    }
                }
                $http.delete("http://localhost:8080/delete/" + $scope.choseTable + "/" +id).success(data, status){

                }
            }
        }
        $http.get("http://localhost:8080/tables").then(function successCallback(response) {
            //console.log(response.data)
            var tables = response.data
            $scope.tables = tables
            $scope.numTables = tables.length
            $scope.choseTable = choseTable
        });

    });

    function filterValues() {
        var input, table, tr, td, i;
        var filter = {};
        console.log(Objects)
        for (i = 0; i < Objects.length; i++) {
            input = document.getElementById(Objects[i] + "input");
            filter[i] = input.value.toUpperCase();
            filter[i] = filter[i].toString()
        }
        table = document.getElementById("main-table");
        tr = table.getElementsByTagName("tr");
        console.log(tr.length, "trs")
        for (i = 2; i < tr.length; i++) {
            for (var j = 0; j < Objects.length + 1; j++) {
                td = tr[i].getElementsByTagName("td")[j];
                if (td) {
                    tr[i].style.display = ""
                }
            }
        }
        for (i = 2; i < tr.length; i++) {
            for (var j = 0; j < Objects.length; j++) {
                td = tr[i].getElementsByTagName("td")[j + 1];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter[j]) > -1) {
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    }

</script>

</html>